
body{
    background-color: rgb(255, 248, 248);
}
.background{
    padding: 40px 0px;
    background-color: rgb(94, 91, 91);
}
.crop{
    border: 6px dotted rgb(235, 183, 13);
    border-radius: 50%;
    position: center;
    display: inline-block;
}
.crop img {
    max-width: 200px;
    border-radius: 50%;
    padding-bottom: 10px;
    background-color: rgb(255, 248, 248);
}
.box-part1{
    padding-top: 30px;
    position: relative;
}
.name{
    width: 50%;
    top: 65%;
    left: 25%;
    position: absolute !important;
    font-size: 50px;
    background-color: rgb(235, 183, 13);
    padding: 0px 40px;
    display: inline-block;
}
.details{
    padding: 10px;
    background-color: rgb(255, 248, 248);
}
h3{
    display: inline;
}
.fa{
    color: rgb(235, 183, 13);
    padding: 8px;
    border-radius: 50%;
    background-color: rgb(105, 102, 102);
}
.circle{
    border:4px dotted rgb(235, 183, 13);
    border-radius: 50%;
    display: inline-block;
}
input{
    background-color: linear-gradient(red,green);
}
input[type='range'] {
    overflow: hidden;
    width: 250px;
    height: 10px;
    -webkit-appearance: none;
    background-color: rgb(235, 183, 13);
  }
 .subpart{
     padding: 10px 5px;
 }
 hr{
height: 4px;
background-color: rgb(235, 183, 13);
}
.box-part{
    padding: 0px 20px;
}
  
  
